@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Thin.ttf');
    font-weight: 100;
    /* font-stretch: 25% 151%; */
}
@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Light.ttf');
    font-weight: 200;
    /* font-stretch: 25% 151%; */
}
@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Medium.ttf');
    font-weight: 300;
    /* font-stretch: 25% 151%; */
}
@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
    /* font-stretch: 25% 151%; */
}
@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Bold.ttf');
    font-weight: 500;
    /* font-stretch: 25% 151%; */
}
@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Black.ttf');
    font-weight: 700;
    /* font-stretch: 25% 151%; */
}

@font-face {
    font-family: "Inter";
    src: url('./assets/fonts/Inter-VariableFont_opsz\,wght.ttf');
    font-weight: 100 800;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

* {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
html {
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a,
a:hover,
a:active,
a:visited {
    appearance: unset;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    /* display: flex; */
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.scroll-custom::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 7px;
    cursor: pointer;
}

.scroll-custom::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
}

.scroll-custom-large::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.scroll-custom-large::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
}

.scroll-custom-light::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 7px;
    cursor: pointer;
}

.scroll-custom-light::-webkit-scrollbar-thumb {
    background-color: #FED7E2;
    border-radius: 5px;
    cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar::-webkit-scrollbar-thumb {
    display: none;
}